# 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data files

## 2.1 Importing the orders-file

In [3]:
# Turn project folder path into a string
df = pd.read_csv(r'C:\Users\veren\OneDrive\Desktop\Data Analytics\26-10-2021 Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

In [4]:
# Import the “orders.csv” data set into your notebook using the os library and the vars_list shortcut, omitting the “eval_set” column in your final dataframe
path = r'C:\Users\veren\OneDrive\Desktop\Data Analytics\26-10-2021 Instacart Basket Analysis'

In [5]:
path

'C:\\Users\\veren\\OneDrive\\Desktop\\Data Analytics\\26-10-2021 Instacart Basket Analysis'

In [6]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [8]:
# Checking if vars_list was created
vars_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [9]:
# Importing dataframe with vars_list
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

In [10]:
# Print the first 5 rows of the dataframe
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

## 2.2 Importing the products-file

In [15]:
# Importing products.csv with the path-variable
path

'C:\\Users\\veren\\OneDrive\\Desktop\\Data Analytics\\26-10-2021 Instacart Basket Analysis'

In [17]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv')

SyntaxError: unexpected EOF while parsing (<ipython-input-17-cfa88a8d9144>, line 1)

In [18]:
# Because I am running into an error using my previous path, I am trying to create a new one
df_prods = pd.read_csv(r'C:\Users\veren\OneDrive\Desktop\Data Analytics\26-10-2021 Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

In [19]:
path = r'C:\Users\veren\OneDrive\Desktop\Data Analytics\26-10-2021 Instacart Basket Analysis'

In [20]:
path

'C:\\Users\\veren\\OneDrive\\Desktop\\Data Analytics\\26-10-2021 Instacart Basket Analysis'

In [21]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

In [22]:
# Print the first 20 rows and last 35 rows of the df_prods dataframe
df_prods.head(20)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [25]:
# Print the names of the columns in the df_prods dataframe
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [26]:
# Print the number of rows and columns in the df_prods dataframe
df_prods.shape

(49693, 5)

 # 03. Answering questions with relevant commands

In [28]:
# What’s the maximum value of the “aisle_id” column? - Answering this question with the df.describe-command:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

The maximum value of the aisle_id-column is 134.000000

In [32]:
# What’s the data type of the “department_id” column? - Answering this question with the df.types-command:
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

The data type of the "department_id" column is integer.