# Contents
#### Importing libraries
#### Importing orders_products_combined
#### Combining orders_products_combined df with products df

# 01. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing data set

In [2]:
# Importing orders_products_combined dataframe from the pickle file I saved previously
df_orders_products_combined = pd.read_pickle(r'C:\Users\veren\Python Data\26-10-2021 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [4]:
# Checking the shape of orders_products_combined (I used a subset of the data because it was too large for my computer)
df_orders_products_combined.shape

(1048575, 11)

The check came out correct: The shape is the same that I expected for my subset.

In [5]:
# Determining a suitable way to combine df_orders_products_combined with products data set.
# Importing products data set
df_products = pd.read_csv(r'C:\Users\veren\Python Data\26-10-2021 Instacart Basket Analysis\02 Data\Prepared Data\products_cleaned.csv')

In [6]:
# Looking at df_products head to find the suitable column to merge
df_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Removing the index column
df_products = df_products.drop(columns = ['Unnamed: 0',])

In [9]:
# Checking the head again
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
# Checking the head of df_orders_products_combined to find the suitable column to merge
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,94891,4,4,5,13,15.0,False,22199,1,0,both
1,94891,4,4,5,13,15.0,False,25146,2,0,both
2,23391,7,17,0,10,28.0,False,13198,1,1,both
3,23391,7,17,0,10,28.0,False,42803,2,1,both
4,23391,7,17,0,10,28.0,False,8277,3,1,both

product_id is a suitable column to merge the data sets.

# 03. Combining the dataframes

In [17]:
# Dropping the _merge column in df_orders_products_combined before the merge (not removing it will give out an error)
df_orders_products_combined_1 = df_orders_products_combined.drop(columns = ['_merge'])

In [18]:
# Merging
orders_products_merged = df_orders_products_combined_1.merge(df_products, on = ['product_id'], how = 'left',indicator = True)

In [19]:
# Checking at orders_products_merged with head()
orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,94891,4,4,5,13,15.0,False,22199,1,0,Extra-Dry Cava,134.0,5.0,8.9,both
1,94891,4,4,5,13,15.0,False,25146,2,0,Original Orange Juice,31.0,7.0,8.4,both
2,23391,7,17,0,10,28.0,False,13198,1,1,85% Lean Ground Beef,122.0,12.0,23.2,both
3,23391,7,17,0,10,28.0,False,42803,2,1,Organic Apple Slices,50.0,19.0,4.9,both
4,23391,7,17,0,10,28.0,False,8277,3,1,Apple Honeycrisp Organic,24.0,4.0,14.1,both

In [20]:
# Confirming the results of the merge using the merge flag
orders_products_merged['_merge'].value_counts()

both          1047658
left_only         940
right_only          0
Name: _merge, dtype: int64

In [22]:
orders_products_merged.shape

(1048598, 15)

In [24]:
# Creating a path to export orders_products_merged as a pkl
path = r'C:\Users\veren\Python Data\26-10-2021 Instacart Basket Analysis'

In [25]:
path

'C:\\Users\\veren\\Python Data\\26-10-2021 Instacart Basket Analysis'

In [26]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))