### 01. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### 02. Importing current dataframe

In [2]:
ords_prods_cust = pd.read_pickle(r'C:\Users\veren\Python Data\26-10-2021 Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_cust_merged_1.pkl')

In [3]:
ords_prods_cust.shape

(30356128, 32)

In [4]:
ords_prods_cust.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,...,frequency_flag,first_name,surname,gender,state,age,date_joined,n_dependants,family_status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
2,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
3,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
4,3265,Mini Seedless Watermelon Pack,32,4,1.7,960220,138,17,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620

In [5]:
ords_prods_cust.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'add_to_cart_order', 'reordered',
       'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'spending',
       'spending_flag', 'frequency', 'frequency_flag', 'first_name', 'surname',
       'gender', 'state', 'age', 'date_joined', 'n_dependants',
       'family_status', 'income'],
      dtype='object')

In [6]:
ords_prods_cust.dtypes

product_id                  int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
order_id                    int64
user_id                     int64
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
add_to_cart_order           int64
reordered                   int64
price_range_loc            object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
spending                  float64
spending_flag              object
frequency                 float64
frequency_flag             object
first_name                 object
surname                    object
gender                     object
state                      object
age                         int64
date_joined                object
n_dependants                int64
family_status              object
income                      int64
dtype: object

### 03. Addressing Personally Identifiable Information (PII data)

In [7]:
# Addressing the PII problem by creating a new dataframe without the "first_name" column and the "surname" column
ords_prods_cust_checked = ords_prods_cust.drop(columns = ['first_name', 'surname'])

In [8]:
ords_prods_cust_checked.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'add_to_cart_order', 'reordered',
       'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'spending',
       'spending_flag', 'frequency', 'frequency_flag', 'gender', 'state',
       'age', 'date_joined', 'n_dependants', 'family_status', 'income'],
      dtype='object')

In [9]:
ords_prods_cust_checked.shape

(30356128, 30)

### 04. Customer Regions

In [10]:
# Creating a flag for the Northeast region based on the article in the task description
ords_prods_cust_checked.loc[ords_prods_cust_checked['state'].isin(['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']), 'region'] = 'Northeast'

In [11]:
# Creating a flag for the Midwest region
ords_prods_cust_checked.loc[ords_prods_cust_checked['state'].isin(['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']), 'region'] = 'Midwest'

In [12]:
# Creating a flag for the South region
ords_prods_cust_checked.loc[ords_prods_cust_checked['state'].isin(['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']), 'region'] = 'South'

In [13]:
# Creating a flag for the West region
ords_prods_cust_checked.loc[ords_prods_cust_checked['state'].isin(['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']), 'region'] = 'West'

In [14]:
ords_prods_cust_checked['region'].value_counts(dropna = False)

South        10108875
West          7772130
Midwest       7113622
Northeast     5361501
Name: region, dtype: int64

In [16]:
# Exporting ords_prods_cust_checked
path = r'C:\Users\veren\Python Data\26-10-2021 Instacart Basket Analysis'

In [17]:
ords_prods_cust_checked.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_cust_region.pkl'))